head {
    display: none;
}

body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    border-color: inherit;
}
th {
    padding-bottom: 5px;
}
th {
    display: table-cell;
    font-weight: bold;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    display: table-row;
    border-color: inherit;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
td {
    display: table-cell;
}
a {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
form {
    display: block;
    margin-top: 0em;
}